<% layout('layouts/boilerplate')%>


       <div class="row">
        <h1 class="text-center">Edit Character</h1>
        <div class="col-md-6 offset-md-3">
          <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
             <div class="mb-3">
                 <label class="form-label" for="title">Title</label>
                 <input class="form-control" type="text" id="title" name="campground[title]" required value="<%= campground.title%>">
             </div>
             <div class="mb-3">
                 <label class="form-label" for="location">Location</label>
                 <input  class="form-control" type="text" id="location"  required name="campground[location]" value="<%= campground.location%>">
             </div>
           <!--   <div class="mb-3">
                 <label class="form-label for="image">Add Images</label>
                 <input  class="form-control type="text" id="image" name="campground[image]" value="<%= campground.image%>">
                <input type="file" name="image" id="image" multiple>
                </div> -->
             <div class="mb-3">
                 <label class="form-label" for="description">Description</label>
                 <textarea  class="form-control" type="text" id="description" name="campground[description]"><%=campground.description%></textarea>
             </div>
             <div class="mb-3">
             <label class="form-label" for="price">Bounty</label>
             <div class="input-group">
                 <span class="input-group-text" id="price">$</span>
                 <input type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby=" " name="campground[price]" value="<%= campground.price%>">
               </div>
             </div>
             <div class="mb-3">
                <label for="">Add more Images</label>
                           <div class="form-file ">
                             <label for="image" class="form-label"></label>
                             <input class="form-control" type="file" id="image" name="image" multiple>
                           </div>
                         </div>
              <div class="ml-auto">
                  <% campground.images.forEach(function(img,i){ %>
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="img-<%=i%>" name="deleteImages[]" value="<%=img.filename%>"> 
                    </div>
                    <label for="img-<%=i%>">Delete?</label>
                    <% }) %>
              </div>                     
             <div class="mb-3">
             <button class="btn btn-info">Update Character</button>
         </div>
         </form>
         <a href="/campgrounds/<%= campground._id%>">Back to Crew </a>
        </div>
    </div>

    
    
